.buttom{
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.buttom-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

.buttom-primary:hover{
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.buttom-primary-ouline{
    border-color: var(--primary);
    color: var(--primary) ;
}

.buttom-primary-ouline:hover{
    background-color: var(--primary-dark);
    border-color: var(--primary-dark) ;
}
